@CHARSET "UTF-8";

body {
	width: 100vw;
	height: 100vh;
}

h2 {
	color: white;
	text-align: center;
}

#hire {
	width: 100vw;
	height: 90vh;
}

form {
	display: flex;
	height: 500px;
	width: 700px;
	margin: auto;
	margin: 70px auto auto auto;
	text-align: center;
	flex-direction: column;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

table {
	table-layout: fixed;
	color: white;
	align-content: center;
	justify-content: center;
	align-self: center;
	align-items: center;
}

tbody {
	width: 300px;
}

th {
	text-align: left;
	border: 1px solid #4683b6;
}

td {
	color: white;
	border: 1px solid #4683b6;
	width: 300px;
}

input[type="text"] {
	width: 400px;
}

input[type="button"] {
	margin-top: 30px;
	color: white;
	border: 1px solid #4683b6;
}

.input {
	background-color: #fb4468;
}

.button {
	position: absolute;
	border: 1px solid #4683b6;
	color: white;
}

.button:hover {
	background-color: white;
	opacity: 0.8;
	transition: 0.7s;
}
