@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #252c36;
}

input {
	background-color: #252c36;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#hire {
	width: 800px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #1e2631;
	/*background: pink;*/
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	color: #4683b6;
	border: 1px solid #4683b6;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form h1 {
	font-size: 35px;
	padding-bottom: 10px;
	color: #4683b6;
}

.textarea {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 30vh;
}

textarea {
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: "Roboto", sans-serif;
	outline: 0;
	color: #4683b6;
	background-color: #252c36;
	border: 1px solid #4683b6;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4683b6;
	width: 45%;
	height: 10vh;
	border: 0;
	padding: 15px;
	color: white;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #43A047;
}

.button_grid {
	justify-content: space-between;
	width: 100%;
	height: 200%;
	display: flex;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}