@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #252c36;
}

#hire {
	margin: auto;
	margin-top: 50px;			/*change 100 to 50 */
	margin-bottom: 100px;
	width: 1200px;
	height: 130vh;
	background-color: #1c2631;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

#list_div {
	margin-bottom: 50px;
}

#hire h1 {
	text-align: center;
}
h2 {
	padding-top: 20px;
	text-align: center;
	color: white;
}

input[type="button"] {
	display: inline-block;
	height: 38px;
	/* width: 70%; */
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 50px;
	position: relative;
	border: 1px solid #4683b6;
	color: white;
}

table {
	width: 100%;
	text-align: center;
}

tbody, thead, th, tr, form, input {
	border: 1px solid #4683b6;
	color: white;
}

td {
	text-align: center;
}

td a {
	list-style: none;
	color: white;
}
/*****add************/
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*****************/
input {
	color: white;
}

#main_wrapper {
	height: 100vh;
}

#list_div {
	margin-top: 30px;			/*change 50px to 30px*/
	position: relative;
}